.location-info {
  margin-bottom: 30px;

  h1 {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 500;
  }

  .day {
    color: #9A938C;
    margin-bottom: 20px;
  }

  .big-indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    margin: 0 auto 25px;

    img {
      width: 150px;
      height: 150px;
    }

    >div {
      line-height: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      p:first-child {
        position: relative;
        font-size: 100px;
        font-weight: 700;

        sup {
          position: absolute;
          font-size: 25px;
          font-weight: 300;
        }
      }

      p~p {
        font-size: 30px;
        width: min-content;
      }
    }
  }

  .small-indicators {
    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 20px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

      .left {
        >div {
          .box-img {
            margin-right: 16px;
          }

          display: flex;
          align-items: center;
        }
      }
    }

    >div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 475px) {
  .location-info {
    margin-bottom: 25px;

    .day {
      margin-bottom: 15px;
    }

    .big-indicators {
      margin-bottom: 20px;

      img {
        width: 125px;
        height: 125px;
      }

      >div {
        p:first-child {
          font-size: 80px;

          sup {
            font-size: 20px;
          }
        }

        p~p {
          font-size: 20px;
        }
      }
    }

    .small-indicators {
      >div {
        padding: 12px 15px;

        .left {
          >div {
            .box-img {
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .location-info {
    h1 {
      font-size: 28px;
    }

    .big-indicators {
      max-width: 80%;
    }

    .small-indicators {
      font-size: 14px;
    }
  }
}